---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="404, no lo he encontrado"
  class="grid place-content-center text-center"
>
  <h1 class="text-4xl font-black mb-4">Oh, vaya. ¡Lo has roto!</h1>
  <img src="https://midu.dev/images/this-is-fine-404.gif" alt="404" />
</Layout>
